meta(charset = "UTF-8")
link(rel="stylesheet", href="css/styles.css")
script(type="module" src="js/buttonFunctions.js" defer)   
title= "Lagerstyring"
script(type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js")
script(nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js")
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

script().
    data = {
        products: !{JSON.stringify(products)},
        vans: !{JSON.stringify(vans)},
        knownUser: !{JSON.stringify(knownUser)},
        role: !{JSON.stringify(role)},
        user: !{JSON.stringify(user)}
    }