include includes/head

body
    h1 Bil:
        select(name='my-dropdown')
            each option in ['Olivers Bil', 'Bil 2', 'Bil 3']
                option(value=option)= option
    


    button.admin 
        a(href="/admin") Admin
    

    each product in products
        div.product-container
                p #{product.productName}
                p.storage(data-productid=product.productId) På lager: #{product.amount} #{product.unit}
                div.buttons
                    button.delete-button(type='button')
                        ion-icon(src="icons/trash-outline.svg")
                    button.button-plusmin(type='button', data-productid=product.productId, data-action="increase")
                        ion-icon(src="icons/plus-circle-outline.svg")
                    button.button-plusmin(type='button', data-productid=product.productId, data-action="decrease")
                        ion-icon(src="icons/minus-circle-outline.svg")

    button.addProduct
        a(href="/createProduct") Tilføj ny vare

